

@page "/eventos"
@using EjemploIntermedios.Components.Clases

<h3>Delegados y Eventos</h3>



<div class="container mt-4">
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-primary w-100" @onclick="ArrancarMotor">Ararncar</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" @onclick="DetenerMotor">Detener</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <p role="status" class="alert alert-info text-center">@MensajeCocheArrancado</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <p role="status" class="alert alert-info text-center">@MensajeCocheDetenido</p>
        </div>
    </div>
</div>


@code {
    private string MensajeCocheArrancado = "";
    private string MensajeCocheDetenido = "";
    private Coche coche;

    protected override void OnInitialized()
    {
        coche = new Coche();

        coche.MotorArrancado += () => MensajeCocheArrancado = "";
        coche.MotorDetenido += () => MensajeCocheDetenido = "";
    }

    private void ArrancarMotor()
    {
        MensajeCocheArrancado = coche.ArrancarMotor();
    }

    private void DetenerMotor()
    {
        MensajeCocheDetenido = coche.DetenerMotor();
    }
}
