@page "/weather"
@using EjemploIntermedios.Components.Clases

<h1 class="text-center mt-4">Propiedades</h1>

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col">
            <label for="Nombre" class="form-label">Nombre:</label>
            <input type="text" id="Nombre" class="form-control" step="any" @bind="Nombre" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="Edad" class="form-label">Edad:</label>
            <input type="text" id="Edad" class="form-control" step="any" @bind="Edad" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="Estatura" class="form-label">Estatura:</label>
            <input type="text" id="Estatura" class="form-control" step="any" @bind="Estatura" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-primary w-100" @onclick="MostarDatos">Mostar datos </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p role="status" class="alert alert-info text-center">Resultado : @cad</p>
        </div>
    </div>
</div>

@code {
    private string Nombre = "0";
    private string Edad = "0";
    private string Estatura = "0";
    private string cad = "";
    Persona persona = new Persona();
    private void MostarDatos()
    {

        CargarDatos();
      
        cad = persona.Nombre +" " + persona.Edad +" " + persona.Estatura;

    }
    private void CargarDatos()
    {
      
        persona.Nombre = Nombre;
        persona.Edad = Edad;
        persona.Estatura = Estatura;
    }
}
